<main class="container">
  <h2>Enter Your Tasks</h2>
  <form>
    <p>
      <label for="task">Task Description</label>
    </p>
    <p class="task-input">
      <input type="text" id="task" name="task" #taskInput/>
    </p>
    <p class="task-add">
      <button type="submit" (click)="addTask(taskInput.value); taskInput.value=''">Add</button>
    </p>
  </form>

  <section>
    <ul *ngIf=taskList class="task-list">
      <li *ngFor="let task of taskList">
        <div class="task" [class.done]="task.done">
          <input type="checkbox" [checked]="task.done" (change)="toggleStatus(task)" id="task.id">
          <span>{{ task.task }}</span>
        </div>
      </li>
    </ul>
  </section>
</main>