<main class="container">
  <h2>Enter Your Tasks</h2>
  <form>
    <p>
      <label for="task">Task Description</label>
    </p>
    <p class="taskInput">
      <input type="text" id="task" name="task" [(ngModel)]="taskName"/>
    </p>
    <p class="taskAdd">
      <button type="submit" (click)="addTask()">Add</button>
    </p>
  </form>

  <section>
    <ul *ngIf=taskList class="task-list">
      <li *ngFor="let task of taskList">
        <div class="task" [class.done]="task.done">
          <span>{{ task.task }}</span>
        </div>
      </li>
    </ul>
  </section>
</main>