<h1> Welcome ! </h1>

<div class="play-container">
  <p>You've clicked </p> 
  <p><button (click)="countClick()"> Click This Button</button></p>
  <p> <span>{{clickCounter}}</span> Times.</p>
</div>

<div class="play-container">
  <p>
    <label for="firstName">Pease Enter Your First Name </label> 
    <input type="text" id="firstName" [(ngModel)]="firstName">
  </p>
  <p>
    <label for="lastName">Pease Enter Your Last Name </label> 
    <input type="text" id="lastName" [(ngModel)]="lastName">
  </p>
  <p> Your Name is: {{firstName}} {{lastName}}</p>
</div>

<div class="play-container" [style.background-color]="clickCounter > 4 ? 'red' : 'lightgray'">
  <p [ngStyle]="{
    'color': clickCounter > 4 ? 'white' : 'blue',
    'border':  clickCounter > 4 ? '2px solid black' : 'none'
  }">Status:</p>
  <p [class.active]='clickCounter > 4'>Will be coming</p>
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>You reached maximum clicks</p>
  </ng-template>

  <ng-template #none>
    <p> Keep clicking </p>
  </ng-template>
</div>